@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono&display=swap');
/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'Space Mono', monospace;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
}

header {
    position: absolute;
    width: auto;
    height: 25px;
    left: 77px;
    top: 40px;
}

h2{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

}

.img img{
    position: absolute;
    width: 539.22px;
    height: 447.43px;
    margin-left: 77px;
    margin-top: 265px;
}

.content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h1{
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

.content p{
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px; 
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em; 
}

footer p{
    margin-top: 139px;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #BDBDBD;
}

button {
    margin-top: 663px;
    margin-left: 740px;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    background-color: #333333;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .content h1{
        width: 350px;
        height: 142px;
        left: 24px;
        top: 407px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
        color: #333333;

    }

    .content p{
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;

        color: #4F4F4F;
    }

    button {
        margin-left: 24px;
        margin-top: 726px;
    }

    .img img {
        margin-left: 44px;
        margin-top: 109px;
        Width:286.83px;
        Height:238px;
    }

}
